

#app {
    width: 100vw;
    height: 100vh;
    background: url("../img/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
}


body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-image: radial-gradient(circle, #43094f, #311343, #231534, #191424, #111111);
}

.row{
    margin: 0px;
    margin-top: 25px;
}

container-fluid {
    padding: 0;
}

header{
    background-color: linear-gradient(to left, #38103b, #400f44, #490e4c, #520b55, #5b065e);
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.nav-link{
    color: #fff;
}

.navbar-brand img {
    width: 50px;
    margin-left: -13rem;
}

.btn-danger{
    margin-top: 10px;
}

.btn-primary{
    background-color: #aa05a2;
    border: 2px solid #0d0c0d;
    margin-top: 10px; 
    color: #fff;
}

.btn-primary:hover{
    background-image: radial-gradient(circle, #811478, #781173, #700f6e, #670c68, #5f0963);
    border: 2px solid #1f1e1b;
}

#info-container{
    background-image: radial-gradient(circle, #ffffff, #efefef, #dfdfdf, #cfcfcf, #c0c0c0);
    border-radius: 15px;
}

#info-container form{
    display: inline-block;
    margin-top: 15px;
}

.form-group{
    color: aliceblue; 
}

.form-group label{
    font-size: 20px;
}

#cursos-form{
    margin-top: 15px;
}

.nav-item{
    margin-right: 25px;
}

h1 {
    color: aliceblue;
}

#search-container{
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: #fff;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#cursos-container{
    padding: 50px;
}

#cursos-container h2{
    color: #fff;
    margin-bottom: 10px;
}

#cards-container{
    display: flex;
}

#cursos-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#cursos-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575
}

.form-check img{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    padding: 10px;
}

#imagecurso-container img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    padding: 10px;
}

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px
}

.dashboard-cursos-container th {
    width: 20%;
    color: #fff;
}

.dashboard-cursos-container td {
    width: 20%;
    color: #fff;
}

.aviso {
    color: #fff;
}


#image-container img{
    width: 375px;
    border-radius: 1000px;
}

.form-check-curso{
    color: #fff;
}











